<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>باتساپ</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="nui/Bootstrap/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="nui/Bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="nui/Bootstrap/dist/css/bootstrap-grid.css">

    <!-- Main Styles CSS -->
    <link rel="stylesheet" type="text/css" href="nui/css/main.min.css">


    <!-- Main Font -->
    <script src="nui/js/webfontloader.min.js"></script>
    <script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
























    </script>

</head>

<body class="body-bg-white">

<!-- Stunning header -->

<div class="stunning-header bg-primary-opacity">


    <!-- Header Standard Landing  -->

    <div class="header--standard header--standard-landing" id="header--standard">
        <div class="container">
            <div class="header--standard-wrap">

                <a href="/" class="logo">
                    <div class="img-wrap">
                        <img src="nui/img/logo.png" alt="Olympus">
                        <img src="nui/img/logo-colored-small.png" alt="Olympus" class="logo-colored">
                    </div>
                    <div class="title-block">
                        <h6 class="logo-title">باتساپ</h6>
                        <div class="sub-title">شبکه اشتراک تجربه</div>
                    </div>
                </a>

                <a href="#" class="open-responsive-menu js-open-responsive-menu">
                    <svg class="olymp-menu-icon">
                        <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <!-- ... end Header Standard Landing  -->
    <div class="header-spacer--standard"></div>

    <div class="stunning-header-content">
        <h1 class="stunning-header-title">راهنما &amp; پشتیبانی</h1>
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="/">صفحه اصلی</a>
                <span class="icon breadcrumbs-custom">/</span>
            </li>
            <li class="breadcrumbs-item">
                <a href="#agreement">قوانین و مقررات</a>
                <span class="icon breadcrumbs-custom">/</span>
            </li>
            <li class="breadcrumbs-item">
                <a href="#privacy">حریم خصوصی کاربران</a>
                <span class="icon breadcrumbs-custom">/</span>
            </li>
            <li class="breadcrumbs-item active">
                <a href="#contactus">ارتباط با ما</a>
                <span class="icon breadcrumbs-custom">/</span>
            </li>
        </ul>
    </div>

    <div class="content-bg-wrap stunning-header-bg1"></div>
</div>

<!-- End Stunning header -->


<section class="negative-margin-top50 mb60">
    <div class="container">
        <div class="row">
            <div class="col col-xl-10 m-auto col-lg-10 col-md-12 col-sm-12 col-12">


                <!-- Search Form  -->

                <form class="form-inline search-form" method="get" action="/">
                    <div class="form-group label-floating">
                        <label class="control-label">دنبال چی هستی؟</label>
                        <input name="q" class="form-control bg-white" placeholder="" type="text"
                               value="در بین تجربیات به اشتراک گذاشته شده جستجو کن">
                    </div>

                    <button class="btn btn-purple btn-lg">جستجو</button>
                </form>

                <!-- ... end Search Form  -->
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col col-xl-8 ml-auto order-xl-2 col-lg-8 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">


                <!-- Help Main Topic -->
                <div class="single-post-additional inline-items">
                    <div class="post__author author vcard inline-items">
                        <img alt="author" src="nui/img/avatar1.jpg" class="avatar">
                        <div class="author-date not-uppercase">
                            <a class="h6 post__author-name fn" href="#">باتساپ</a>
                            <div class="author_prof">
                                نویسنده
                            </div>
                        </div>
                    </div>
                    <div class="post-date-wrap inline-items">
                        <svg class="olymp-calendar-icon">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-calendar-icon"></use>
                        </svg>
                        <div class="post-date">
                            <a class="h6 date" href="#">24 بهمن 1399</a>
                            <span>آخرین بروزرسانی</span>
                        </div>
                    </div>
                </div>
                <div id="agreement" class="help-main-topic">
                    <h3 class="title">قوانین و مقررات</h3>

                    <p class="textalign">
                        باتساپ یک شبکه اجتماعی برای اشتراک تجربیات و تبادل نظر است. همه ما در زندگی تجربیات ارزشمندی
                        داریم و میتونیم با به اشتراک گذاشتن اونها در باتساپ به دیگران کمک کنیم
                        تا به تجربیات ارزشمند ما دسترسی داشته باشند. ما در باتساپ یک سری قوانین و مقررات داریم تا
                        بتوانیم فضای اشتراکی سالم و دوست داشتنی رو تجربه کنیم.
                    </p>
                    <p class="textalign">
                        ۱-
                        در باتساپ امکان انتشار مطالب سیاسی و امنیتی که حاشیه داشته باشند، محتوای
                        پورن، اروتیک و موارد مشابه دیگر وجود ندارد.ما قصد نداریم در خصوص
                        تجربیات به اشتراک گذاشته شده کاربران خط‌کش نظارتی داشته باشیم ولی موظف به رعایت
                        قوانین فضای مجازی کشور هستیم :)
                    </p>
                    <p class="textalign">
                        ۲-
                        در باتساپ آزادی بیان با رعایت اصول اخلاقی و بیان محترمانه مقبول است. اگر در شرکتی مشغول به کار
                        بودید و
                        دوست دارد از تجربیات خودتون از اون شرکت بنویسید
                        در باتساپ بسیار خوشحال خواهیم شد تا تجربیات شما را به دیگران برسونیم.
                        در باتساپ امکان انتشار مطالب توهین‌آمیز وجود ندارد و شخصیت حقیقی و حقوقی مخاطبین تجربه اهمیت
                        دارد.
                    </p>
                    <p class="textalign">
                        ۳-
                        ما یک استارت‌آپ نوپا با تمام کم و کاستی‌های احتمالی آن هستیم و برای هرگونه کم و کاستی پیشاپیش از
                        کاربران عزیز باتساپ عذرخواهی میکنیم و آماده اصلاح و بهبود آن هستیم. در باتساپ فرآیند بررسی
                        محتوای تصویری و ویدویی برای مضامین اخلاقی، خشونت و موارد دیگر
                        توسط سیستمی نوپا و مبتنی بر هوش مصنوعی انجام میگیرد. اگر در ارسال پست و مطالب خود دچار مشکل شدید
                        حتما با در میان بگذارید و نظرات شما را یکی یکی بررسی و اصلاحات لازم را انجام خواهیم داد.
                    </p>


                    <div id="privacy" class="help-main-topic">
                        <h3 class="title">محرمانگی و اطلاعات کاربران</h3>
                        <p class="textalign">
                            تمام اطلاعات حساب‌های کاربری کاربران باتساپ به صورت رمز شده در بانک اطلاعاتی ذخیره میشود.
                            کلمات عبور به صورت هش شده ذخیره شده و امکان ریکاوری آنها تنها
                            با درخواست خود کاربر صورت میگیرد. به غیر از خود کاربر هیچ شخص دیگری اجازه ورود به حساب آن
                            کاربر را ندارد.
                            اطلاعات کاربران باتساپ تحت هیچ شرایطی در اختیار فرد یا سازمانی قرار نمیگیرد و تنها در صورت
                            درخواست قانونی و رسمی از طرف قوه قضایه امکان ارایه آن به مراجع قضایی وجود دارد.
                            در باتساپ تا حد امکان هیچ داده شخصی و محرمانه از کاربران پرسیده و نگهداری نمی‌شود و ما در
                            اسکبورد سعی کرده‌ایم تا حد امکان فرآیند ثبت‌نام و افتتاح حساب کاربری آسان و راحت
                            باکمترین نیاز به اطلاعات شخصی کاربران باشد
                        </p>

                    </div>
                    <div id="contactus" class="help-main-topic">
                        <h3 class="title">ارتباط با ما</h3>
                        <form th:action="@{/v1/contact}" method="post">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">نام (ضروری) </label>
                                        <input name="firstName" class="form-control" placeholder="" type="text">
                                        <span class="material-input"></span></div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"> نام خانوادگی</label>
                                        <input name="lastName" class="form-control" placeholder="" type="text">
                                        <span class="material-input"></span></div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">موضوع چست؟ (ضروری)</label>
                                        <input name="subject" class="form-control" placeholder="" type="text">
                                        <span class="material-input"></span></div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">لطفا در خصوص این موضوع کمی توصیح بدید
                                            (ضروری)</label>
                                        <textarea name="body" class="form-control" placeholder="" type="text">
                                        </textarea>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"> ایمیل و یا شماره تماسی که بتوانیم نتیجه را به
                                                شما اطلاع دهیم (لطفا)</label>
                                            <input name="phoneOrMail" class="form-control" placeholder="" type="text">
                                            <span class="material-input"></span></div>
                                    </div>
                                    <p style="color: #f9590b;" th:text="${msg}"></p>
                                    <button type="submit" class="btn btn-purple btn-lg full-width">برسد به دست تیم
                                        باتساپ
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- ... end Help Main Topic -->

                </div>
            </div>
            <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">


                <!-- Help Support Block -->

                <div class="help-support-block">
                    <h3 class="title">دسترسی سریع</h3>
                    <ul class="help-support-list">
                        <li>
                            <svg class="olymp-blog-icon">
                                <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
                            </svg>
                            <a href="#agreement">قوانین و مقررات</a>
                        </li>
                        <li>
                            <svg class="olymp-blog-icon">
                                <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
                            </svg>
                            <a href="#privacy">حریم خصوصی و توافق</a>
                        </li>
                        <li>
                            <svg class="olymp-blog-icon">
                                <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
                            </svg>
                            <a href="#contactus">ارتباط با ما</a>
                        </li>
                    </ul>
                </div>

                <!-- ... end Help Support Block -->

            </div>

        </div>
    </div>
</section>


<!-- Footer Full Width -->

<div class="footer footer-full-width" id="footer">
    <div class="container">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="sub-footer-copyright" style="color: #171414">
						<span>
							<a href="/" style="color: #171414;">EXBORD</a> تمام حقوق مادی و معنوی سایت محفوظ است
						</span>
            </div>
        </div>
    </div>
</div>


<a class="back-to-top" href="#">
    <img src="nui/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>


<!-- JS Scripts -->
<script src="nui/js/jquery-3.2.1.js"></script>
<script src="nui/js/jquery.appear.js"></script>
<script src="nui/js/jquery.mousewheel.js"></script>
<script src="nui/js/perfect-scrollbar.js"></script>
<script src="nui/js/jquery.matchHeight.js"></script>
<script src="nui/js/svgxuse.js"></script>
<script src="nui/js/imagesloaded.pkgd.js"></script>
<script src="nui/js/Headroom.js"></script>
<script src="nui/js/velocity.js"></script>
<script src="nui/js/ScrollMagic.js"></script>
<script src="nui/js/jquery.waypoints.js"></script>
<script src="nui/js/jquery.countTo.js"></script>
<script src="nui/js/popper.min.js"></script>
<script src="nui/js/material.min.js"></script>
<script src="nui/js/bootstrap-select.js"></script>
<script src="nui/js/smooth-scroll.js"></script>
<script src="nui/js/selectize.js"></script>
<script src="nui/js/swiper.jquery.js"></script>
<script src="nui/js/moment.js"></script>
<script src="nui/js/daterangepicker.js"></script>
<script src="nui/js/simplecalendar.js"></script>
<script src="nui/js/fullcalendar.js"></script>
<script src="nui/js/isotope.pkgd.js"></script>
<script src="nui/js/ajax-pagination.js"></script>
<script src="nui/js/Chart.js"></script>
<script src="nui/js/chartjs-plugin-deferred.js"></script>
<script src="nui/js/circle-progress.js"></script>
<script src="nui/js/loader.js"></script>
<script src="nui/js/run-chart.js"></script>
<script src="nui/js/jquery.magnific-popup.js"></script>
<script src="nui/js/jquery.gifplayer.js"></script>
<script src="nui/js/mediaelement-and-player.js"></script>
<script src="nui/js/mediaelement-playlist-plugin.min.js"></script>
<script src="nui/js/ha-solardate.min.js"></script>
<script src="nui/js/ha-datetimepicker.min.js"></script>

<script src="nui/js/base-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>


</html>