<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>باتساپ</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="nui/Bootstrap/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="nui/Bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="nui/Bootstrap/dist/css/bootstrap-grid.css">

    <!-- Main Styles CSS -->
    <link rel="stylesheet" type="text/css" href="nui/css/main.min.css">


    <!-- Main Font -->
    <script src="nui/js/webfontloader.min.js"></script>
    <script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});

























    </script>

</head>

<body class="body-bg-white">

<!-- Stunning header -->

<div class="stunning-header bg-primary-opacity">


    <!-- Header Standard Landing  -->

    <div class="header--standard header--standard-landing" id="header--standard">
        <div class="container">
            <div class="header--standard-wrap">

                <a href="/" class="logo">
                    <div class="img-wrap">
                        <img src="nui/img/logo.png" alt="Olympus">
                        <img src="nui/img/logo-colored-small.png" alt="Olympus" class="logo-colored">
                    </div>
                    <div class="title-block">
                        <h6 class="logo-title">باتساپ</h6>
                        <div class="sub-title">مدیریت و نظارت بر فعالیت‌های کودک</div>
                    </div>
                </a>

                <a href="#" class="open-responsive-menu js-open-responsive-menu">
                    <svg class="olymp-menu-icon">
                        <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <!-- ... end Header Standard Landing  -->
    <div class="header-spacer--standard"></div>

    <div class="stunning-header-content">
        <h1 class="stunning-header-title">Batsapp | باستاپ</h1>
        <h5 style="color:white;">اپلیکیشن هوشمند نظارت بر فعالیت‌های کودکان و نوجوانان در دنیای مجازی</h5>
        <br>
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="/">صفحه اصلی</a>
                <span class="icon breadcrumbs-custom">/</span>
            </li>
            <li class="breadcrumbs-item">
                <a href="#agreement">قوانین و مقررات</a>
                <span class="icon breadcrumbs-custom">/</span>
            </li>
            <li class="breadcrumbs-item">
                <a href="#privacy">حریم خصوصی کاربران</a>
                <span class="icon breadcrumbs-custom">/</span>
            </li>
            <li class="breadcrumbs-item active">
                <a href="#contactus">ارتباط با ما</a>
                <span class="icon breadcrumbs-custom">/</span>
            </li>
        </ul>
    </div>

    <div class="content-bg-wrap stunning-header-bg1"></div>
</div>

<!-- End Stunning header -->


<section>
    <div class="container">
        <div class="row">
            <div class="col col-xl-8 ml-auto order-xl-2 col-lg-8 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">


                <!-- Help Main Topic -->
                <div class="single-post-additional inline-items">
                    <div class="post__author author vcard inline-items">
                        <img alt="author" src="nui/img/avatar1.jpg" class="avatar">
                        <div class="author-date not-uppercase">
                            <a class="h6 post__author-name fn" href="#">باتساپ</a>
                            <div class="author_prof">
                                نویسنده
                            </div>
                        </div>
                    </div>
                    <div class="post-date-wrap inline-items">
                        <svg class="olymp-calendar-icon">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-calendar-icon"></use>
                        </svg>
                        <div class="post-date">
                            <a class="h6 date" href="#">24 فروردین 1400</a>
                            <span>آخرین بروزرسانی</span>
                        </div>
                    </div>
                </div>
                <div id="agreement" class="help-main-topic">
                    <h4 class="title">قوانین و مقررات</h4>

                    <p class="textalign">
                        باتساپ یک اپلیشکن نظارت و کنترل بر عملکرد کودکان در فضای مجازی است. باتساپ حاصل پژوهش و توسعه یک
                        تیم متخصص از
                        روانشناسان حرفه‌ای با سالها پژوهش و تجربه در کنترل و درمان کودکان و نوجوانان است. به کمک باتساپ
                        .والدین به راحتی میتوانند  با نصب و فعال‌سازی آن در گوشی‌های همراه و تبلت فرزندان خوب به صورت کامل بر عملکرد آنها نظارت داشته باشند
                    </p>

                    <div id="privacy" class="help-main-topic">
                        <h4 class="title">محرمانگی و اطلاعات کاربران</h4>
                        <p class="textalign">
                            گزارش عملکرد کودکان و نوجوانان و فعالیت‌های ثبت شده از آنها توسط اپلیکیشن باتساب، تنها در اختیار والدین آنها
                            قرار داده میشود و به غیر از والدین هیچ کس امکان دسترسی به آنها را ندارد.
                            تمام گزارشات ثبت شده به صورت رمز شده بوده و تنها با نام کاربری و رمز‌عبور والدین،
                            اطلاعات مربوطه رمزگشایی و در دسترس والدین قرار میگیرد.
                        </p>

                    </div>
                    <div id="contactus" class="help-main-topic">
                        <h4 class="title">ارتباط با ما</h4>
                        <p class="textalign">
                            تهران، ونک، خیابان شیخ بهایی جنوبی، خیابان سامان، پلاک ۸۷
                        </p>
                        <p class="textalign">
                            تلفن: ۰۹۱۲۶۳۴۹۶۹۸
                        </p>

                        <form th:action="@{/v1/contact}" method="post">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">نام (ضروری) </label>
                                        <input name="firstName" class="form-control" placeholder="" type="text">
                                        <span class="material-input"></span></div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"> نام خانوادگی</label>
                                        <input name="lastName" class="form-control" placeholder="" type="text">
                                        <span class="material-input"></span></div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">موضوع چست؟ (ضروری)</label>
                                        <input name="subject" class="form-control" placeholder="" type="text">
                                        <span class="material-input"></span></div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">لطفا در خصوص این موضوع کمی توصیح بدید
                                            (ضروری)</label>
                                        <textarea name="body" class="form-control" placeholder="" type="text">
                                        </textarea>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"> ایمیل و یا شماره تماسی که بتوانیم نتیجه را به
                                                شما اطلاع دهیم (ضروری)</label>
                                            <input name="phoneOrMail" class="form-control" placeholder="" type="text">
                                            <span class="material-input"></span></div>
                                    </div>
                                    <p style="color: #f9590b;" th:text="${msg}"></p>
                                    <button type="submit" class="btn btn-purple btn-lg full-width">برسد به دست تیم
                                        باتساپ
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- ... end Help Main Topic -->

                </div>
            </div>
            <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">


                <!-- Help Support Block -->

                <div class="help-support-block">
                    <h3 class="title">دسترسی سریع</h3>
                    <ul class="help-support-list">
                        <li>
                            <svg class="olymp-blog-icon">
                                <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
                            </svg>
                            <a href="#agreement">قوانین و مقررات</a>
                        </li>
                        <li>
                            <svg class="olymp-blog-icon">
                                <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
                            </svg>
                            <a href="#privacy">حریم خصوصی و توافق</a>
                        </li>
                        <li>
                            <svg class="olymp-blog-icon">
                                <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
                            </svg>
                            <a href="#contactus">ارتباط با ما</a>
                        </li>
                    </ul>
                </div>

                <!-- ... end Help Support Block -->

            </div>

        </div>
    </div>
</section>


<!-- Footer Full Width -->

<div class="footer footer-full-width" id="footer">
    <div class="container">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="sub-footer-copyright" style="color: #171414">
						<span>
							<a href="/" style="color: #171414;">EXBORD</a> تمام حقوق مادی و معنوی سایت محفوظ است
						</span>
            </div>
        </div>
    </div>
</div>


<a class="back-to-top" href="#">
    <img src="nui/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>


<!-- JS Scripts -->
<script src="nui/js/jquery-3.2.1.js"></script>
<script src="nui/js/jquery.appear.js"></script>
<script src="nui/js/jquery.mousewheel.js"></script>
<script src="nui/js/perfect-scrollbar.js"></script>
<script src="nui/js/jquery.matchHeight.js"></script>
<script src="nui/js/svgxuse.js"></script>
<script src="nui/js/imagesloaded.pkgd.js"></script>
<script src="nui/js/Headroom.js"></script>
<script src="nui/js/velocity.js"></script>
<script src="nui/js/ScrollMagic.js"></script>
<script src="nui/js/jquery.waypoints.js"></script>
<script src="nui/js/jquery.countTo.js"></script>
<script src="nui/js/popper.min.js"></script>
<script src="nui/js/material.min.js"></script>
<script src="nui/js/bootstrap-select.js"></script>
<script src="nui/js/smooth-scroll.js"></script>
<script src="nui/js/selectize.js"></script>
<script src="nui/js/swiper.jquery.js"></script>
<script src="nui/js/moment.js"></script>
<script src="nui/js/daterangepicker.js"></script>
<script src="nui/js/simplecalendar.js"></script>
<script src="nui/js/fullcalendar.js"></script>
<script src="nui/js/isotope.pkgd.js"></script>
<script src="nui/js/ajax-pagination.js"></script>
<script src="nui/js/Chart.js"></script>
<script src="nui/js/chartjs-plugin-deferred.js"></script>
<script src="nui/js/circle-progress.js"></script>
<script src="nui/js/loader.js"></script>
<script src="nui/js/run-chart.js"></script>
<script src="nui/js/jquery.magnific-popup.js"></script>
<script src="nui/js/jquery.gifplayer.js"></script>
<script src="nui/js/mediaelement-and-player.js"></script>
<script src="nui/js/mediaelement-playlist-plugin.min.js"></script>
<script src="nui/js/ha-solardate.min.js"></script>
<script src="nui/js/ha-datetimepicker.min.js"></script>

<script src="nui/js/base-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>


</html>