<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="#{batsAppTitle}"></title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Main Font -->
    <script src="nui/js/webfontloader.min.js"></script>
    <script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});


    </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="nui/Bootstrap/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="nui/Bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="nui/Bootstrap/dist/css/bootstrap-grid.css">

    <!-- Main Styles CSS -->
    <link rel="stylesheet" type="text/css" href="nui/css/main.min.css">
    <!--    autorefresh    -->
    <meta http-equiv="refresh" content="300">
    <style>
        body {
          font-family: 'Times New Roman', serif;
        }


    </style>
</head>

<body>
<div class="fixed-sidebar">
    <div class="fixed-sidebar-left sidebar--small" id="sidebar-left">

        <a href="/" class="logo">
            <div class="img-wrap">
                <img src="nui/img/logo-colored.png" th:alt="#{batsAppTitle}">
            </div>
        </a>

        <div class="mCustomScrollbar" data-mcs-theme="dark">
            <ul class="left-menu">
                <li>
                    <a href="#" class="js-sidebar-open">
                        <svg class="olymp-menu-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{openMenu}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a th:href="@{/show(date=${today},from=${from},to=${to},month=${month})}">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{reportKidsActivity}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-share-post-icon"></use>
                        </svg>
                    </a>
                </li>
                <li th:if="${username == 'anonymousUser' or  username ==null }">
                    <a href="/signup">
                        <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{signUpLabel}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-register-icon"></use>
                        </svg>
                    </a>
                </li>
                <li th:if="${username == 'anonymousUser' or  username ==null }">
                    <a href="/login">
                        <svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{loginLabel}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-login-icon"></use>
                        </svg>
                    </a>
                </li>
                <li th:if="${username != 'anonymousUser' and  username !=null }">
                    <a href="/setting">
                        <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{settingLabel}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-settings-icon"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="/exbord">
                        <svg class="olymp-chat---messages-icon left-menu-icon" data-toggle="tooltip"
                             data-placement="right"
                             th:data-original-title="#{aboutLabel}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
                        </svg>
                    </a>
                </li>
                <li th:if="${username != 'anonymousUser' and  username !=null }">
                    <a href="/logout">
                        <svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{exitLabel}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-logout-icon"></use>
                        </svg>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
        <a href="/" class="logo">
            <div class="img-wrap">
                <img src="nui/img/logo-colored.png" th:alt="#{batsAppTitle}">
            </div>
            <div class="title-block">
                <h6 class="logo-title"></h6>
            </div>
        </a>

        <div class="mCustomScrollbar" data-mcs-theme="dark">
            <ul class="left-menu">
                <li>
                    <a href="#" class="js-sidebar-open">
                        <svg class="olymp-close-icon left-menu-icon">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{closeMenu}"></th:block></span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <svg class="olymp-menu-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{homePage}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{homePage}"></th:block></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/show(date=${today},from=${from},to=${to},month=${month})}">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{reportKidsActivity}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-share-post-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{reportKidsActivity}"></th:block></span>
                    </a>
                </li>
                <li th:if="${username != 'anonymousUser' and  username !=null }">
                    <a href="/setting">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title=#{settingLabel}>
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-settings-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{settingLabel}"></th:block></span>
                    </a>
                </li>

                <li th:if="${username == 'anonymousUser' or  username ==null }">
                    <a href="/signup">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{signUpLabel}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-register-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{signUpLabel}"></th:block></span>
                    </a>
                </li>
                <li th:if="${username == 'anonymousUser' or  username ==null }">
                    <a href="/login">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{loginLabel}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-login-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{loginLabel}"></th:block></span>
                    </a>
                </li>
                <li>
                    <a href="/exbord">
                        <svg class="olymp-chat---messages-icon left-menu-icon" data-toggle="tooltip"
                             data-placement="right"
                             th:data-original-title="#{aboutLabel}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{aboutLabel}"></th:block></span>
                    </a>
                </li>
                <li th:if="${username != 'anonymousUser' and  username !=null }">
                    <a href="/logout">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{exitLabel}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-login-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{exitLabel}"></th:block></span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
<div class="fixed-sidebar fixed-sidebar-responsive">

    <div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
        <a href="/" class="logo js-sidebar-open">
            <img src="nui/img/logo-colored.png" th:alt="#{batsAppTitle}">
        </a>

    </div>

    <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
        <a href="/" class="logo">
            <div class="img-wrap">
                <img src="nui/img/logo-colored.png" th:alt="#{batsAppTitle}">
            </div>
            <div class="title-block">
                <h6 class="logo-title"></h6>
            </div>
        </a>

        <div class="mCustomScrollbar" data-mcs-theme="dark">
            <ul class="left-menu">
                <li>
                    <a href="#" class="js-sidebar-open">
                        <svg class="olymp-close-icon left-menu-icon">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{closeMenu}"></th:block></span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <svg class="olymp-menu-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{homePage}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{homePage}"></th:block></span>
                    </a>
                </li>
                <!--REPORT-->
                <li>
                    <a th:href="@{/show(date=${today},from=${from},to=${to},month=${month})}">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{reportKidsActivity}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-share-post-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{reportKidsActivity}"></th:block></span>
                    </a>
                </li>

                <li th:if="${username == 'anonymousUser' or  username ==null }">
                    <a href="/signup">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{signUpLabel}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-register-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{signUpLabel}"></th:block></span>
                    </a>
                </li>
                <li th:if="${username == 'anonymousUser' or  username ==null }">
                    <a href="/login">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{loginLabel}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-login-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{loginLabel}"></th:block></span>
                    </a>
                </li>
                <li th:if="${username != 'anonymousUser' and  username !=null }">
                    <a href="/setting">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{settingLabel}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-settings-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{settingLabel}"></th:block></span>
                    </a>
                </li>
                <li>
                    <a href="/exbord">
                        <svg class="olymp-chat---messages-icon left-menu-icon" data-toggle="tooltip"
                             data-placement="right"
                             th:data-original-title="#{aboutLabel}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{aboutLabel}"></th:block></span>
                    </a>
                </li>
                <!--Exit-->
                <li th:if="${username != 'anonymousUser' and  username !=null }">
                    <a href="/logout">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             th:data-original-title="#{exitLabel}">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-login-icon"></use>
                        </svg>
                        <span class="left-menu-title"><th:block th:text="#{exitLabel}"></th:block></span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>


<div class="fixed-sidebar right fixed-sidebar-responsive">

</div>

<header class="header" id="site-header">
    <div class="page-download-app">
        <h3>
        </h3>
    </div>
</header>


<header class="header header-responsive" id="site-header-responsive">

</header>

<!-- ... end Responsive Header-BP -->
<div class="header-spacer"></div>
<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" align="center">
            <a href="/?lang=fa" class="linker h5">فارسی</a>&nbsp|&nbsp
            <a href="/?lang=en" class="linker h5">English</a>&nbsp|&nbsp
            <a href="/?lang=az" class="linker h5">Azeri</a>&nbsp|&nbsp
            <a href="/?lang=tr" class="linker h5">Turkçe</a>&nbsp|&nbsp
            <a href="/?lang=ar" class="linker h5">العربية</a>
        </div>
        <div class="col-12">
            <h5 th:text="#{welcomeLabel(${username})}"></h5>
        </div>
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div th:if="${controlStatus=='on'}" class="col-xs-1" align="center">
                <div class="col-xs-12">
                    <h5>
                        <th:block th:text="#{monitoringOn}"></th:block>
                    </h5>
                </div>
                <div class="col-xs-12">
                    <a href="setCommand?cmd=stop">
                        <button type="submit" class="btn btn-danger btn-lg">
                            <th:block th:text="#{turnOff}"></th:block>
                        </button>
                    </a>
                </div>
            </div>
            <div th:if="${controlStatus=='off'}" class="col-xs-1" align="center">
                <div class="col-xs-12">
                    <h5>
                        <th:block th:text="#{monitoringOff}"></th:block>
                    </h5>
                </div>
                <div class="col-xs-12">
                    <a href="setCommand?cmd=start">
                        <button type="submit" class="btn btn-success btn-lg">
                            <th:block th:text="#{turnOn}"></th:block>
                        </button>
                    </a>
                </div>
            </div>
            <hr>
            <div class="col-xs-12" align="center">
                <h5>
                    <th:block th:text="#{quickAccess}"></th:block>
                </h5>
            </div>
            <br>
            <div class="col-xs-1" align="center">
                <div class="col-xs-12">
                    <a th:href="@{/show(date=${date},from=${from},to=${to},month=${month})}">
                        <button type="submit" class="btn btn-secondary btn-lg">
                            <th:block th:text="#{reportKidsActivity}"></th:block>
                        </button>
                    </a>
                </div>

                <div class="col-xs-12">
                    <a th:href="@{/imageAnalyze(uuid=${uuid},type=UNKNOWN)}">
                        <button type="submit" class="btn btn-secondary btn-lg">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<th:block
                                th:text="#{aiAnalyze}"></th:block>&nbsp;
                        </button>
                    </a>
                </div>
            </div>

            <br>
            <hr>
            <div class="col-xs-1" align="center">
                <div class="col-xs-12">
                    <h5 th:text="#{delayTimeLabel(${screenShotDelay})}"></h5>
                </div>
                <div class="col-xs-12">
                    <h5 th:text="#{imageQualityLabel(${imageQuality})}"></h5>
                </div>
                <br>
                <div class="col-xs-12">
                    <a href="/setting">
                        <button type="submit" class="btn btn-secondary btn-lg">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <th:block th:text="#{settingLabel}"></th:block>&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </button>
                    </a>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="footer footer-full-width" id="footer">
    <div class="sub-footer-copyright" style="color: #171414">
						<span>
							<a href="/" style="color: #171414;"><th:block th:text="#{batsAppTitle}"></th:block> |</a> <th:block
                                th:text="#{copyRightLabel}"></th:block>
						</span>
    </div>
</div>


<a class="back-to-top" href="#">
    <img src="nui/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>


<!-- JS Scripts -->
<script src="nui/js/jquery-3.2.1.js"></script>
<script src="nui/js/jquery.appear.js"></script>
<script src="nui/js/jquery.mousewheel.js"></script>
<script src="nui/js/perfect-scrollbar.js"></script>
<script src="nui/js/jquery.matchHeight.js"></script>
<script src="nui/js/svgxuse.js"></script>
<script src="nui/js/imagesloaded.pkgd.js"></script>
<script src="nui/js/Headroom.js"></script>
<script src="nui/js/velocity.js"></script>
<script src="nui/js/ScrollMagic.js"></script>
<script src="nui/js/jquery.waypoints.js"></script>
<script src="nui/js/jquery.countTo.js"></script>
<script src="nui/js/popper.min.js"></script>
<script src="nui/js/material.min.js"></script>
<script src="nui/js/bootstrap-select.js"></script>
<script src="nui/js/smooth-scroll.js"></script>
<script src="nui/js/selectize.js"></script>
<script src="nui/js/swiper.jquery.js"></script>
<script src="nui/js/moment.js"></script>
<script src="nui/js/daterangepicker.js"></script>
<script src="nui/js/simplecalendar.js"></script>
<script src="nui/js/fullcalendar.js"></script>
<script src="nui/js/isotope.pkgd.js"></script>
<script src="nui/js/ajax-pagination.js"></script>
<script src="nui/js/Chart.js"></script>
<script src="nui/js/chartjs-plugin-deferred.js"></script>
<script src="nui/js/circle-progress.js"></script>
<script src="nui/js/loader.js"></script>
<script src="nui/js/run-chart.js"></script>
<script src="nui/js/jquery.magnific-popup.js"></script>
<script src="nui/js/jquery.gifplayer.js"></script>
<script src="nui/js/mediaelement-و-player.js"></script>
<script src="nui/js/mediaelement-playlist-plugin.min.js"></script>
<script src="nui/js/ha-solardate.min.js"></script>
<script src="nui/js/ha-datetimepicker.min.js"></script>
<!--<script src="nui/js/exbord-utils.js"></script>-->
<script src="nui/js/base-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>
<script src="nui/Bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>

</html>