<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="dc:creator" content="باتساپ batsapp.ir" />
    <meta name="description" content="اشتراک تجربه"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="باتساپ شبکه اجتماعی برای اشتراک تجربیات" />
    <meta property="og:description" content="باتساپ شبکه اجتماعی برای اشتراک تجربیات" />
    <meta property="og:url" content="htts://batsapp.ir" />
    <meta property="og:site_name" content="باتساپ" />
    <link href="fa/css/bootstrap.min.css" rel="stylesheet">
    <link href="fa/css/freelancer.css" rel="stylesheet">
    <link href="fa/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <title>باتساپ</title>
    <!--[if lt IE 9]>
    <script src="fa/js/html5shiv.js"></script>
    <script src="fa/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

</body>
</html>