<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>اکسبورد</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Main Font -->
    <script src="nui/js/webfontloader.min.js"></script>
    <script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});


    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="nui/Bootstrap/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="nui/Bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="nui/Bootstrap/dist/css/bootstrap-grid.css">

    <!-- Main Styles CSS -->
    <link rel="stylesheet" type="text/css" href="nui/css/main.min.css">

</head>

<body>
<div class="fixed-sidebar">
    <div class="fixed-sidebar-left sidebar--small" id="sidebar-left">

        <a href="/" class="logo">
            <div class="img-wrap">
                <img src="nui/img/logo.png" alt="اکسبورد">
            </div>
        </a>

        <div class="mCustomScrollbar" data-mcs-theme="dark">
            <ul class="left-menu">
                <li>
                    <a href="#" class="js-sidebar-open">
                        <svg class="olymp-menu-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="بازکردن منو">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="/share">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="اشتراک تجربه">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-share-post-icon"></use>
                        </svg>
                    </a>
                </li>
                <li th:if="${username == 'anonymousUser' or  username ==null }">
                    <a href="/signup">
                        <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="ثبت نام">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-register-icon"></use>
                        </svg>
                    </a>
                </li>
                <li th:if="${username == 'anonymousUser' or  username ==null }">
                    <a href="/login">
                        <svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="ورود">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-login-icon"></use>
                        </svg>
                    </a>
                </li>
                <li th:if="${username != 'anonymousUser' and  username !=null }">
                    <a href="/setting">
                        <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="تنظیمات">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-settings-icon"></use>
                        </svg>
                    </a>
                </li>
                <li th:if="${username != 'anonymousUser' and  username !=null }">
                    <a href="/logout">
                        <svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="خروج">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-logout-icon"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
        <a href="/" class="logo">
            <div class="img-wrap">
                <img src="nui/img/logo.png" alt="اکسبورد">
            </div>
            <div class="title-block">
                <h6 class="logo-title">اکسبورد</h6>
            </div>
        </a>

        <div class="mCustomScrollbar" data-mcs-theme="dark">
            <ul class="left-menu">
                <li>
                    <a href="#" class="js-sidebar-open">
                        <svg class="olymp-close-icon left-menu-icon">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                        </svg>
                        <span class="left-menu-title">بستن منو</span>
                    </a>
                </li>
                <li th:if="${username == 'anonymousUser' or  username ==null }">
                    <a href="/signup">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="ثبت نام">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-register-icon"></use>
                        </svg>
                        <span class="left-menu-title">ثبت نام</span>
                    </a>
                </li>
                <li th:if="${username == 'anonymousUser' or  username ==null }">
                    <a href="/login">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="ورود">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-login-icon"></use>
                        </svg>
                        <span class="left-menu-title">ورود</span>
                    </a>
                </li>
                <li th:if="${username != 'anonymousUser' and  username !=null }">
                    <a href="/logout">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="خروج">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-login-icon"></use>
                        </svg>
                        <span class="left-menu-title">خروج</span>
                    </a>
                </li>
                <li th:if="${username != 'anonymousUser' and  username !=null }">
                    <a href="/setting">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="تنطیمات">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-settings-icon"></use>
                        </svg>
                        <span class="left-menu-title">تنظیمات</span>
                    </a>
                </li>
                <li>
                    <a href="/share">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="اشتراک تجربه">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-share-post-icon"></use>
                        </svg>
                        <span class="left-menu-title">اشتراک تجربه</span>
                    </a>
                </li>
            </ul>

            <div th:if="${username != 'anonymousUser' and  username !=null }" class="profile-completion">

                <div class="skills-item">
                    <div class="skills-item-info">
                        <span class="skills-item-title">تکمیل مشخصات کاربری</span>
                        <span class="skills-item-count"><span class="count-animate" data-speed="1000"
                                                              data-refresh-interval="50" data-to="76"
                                                              data-from="0"></span><span class="units">76%</span></span>
                    </div>
                    <div class="skills-item-meter">
                        <span class="skills-item-meter-active bg-primary" style="width: 76%"></span>
                    </div>
                </div>

                <span>اطلاعات <a
                        href="/setting">حساب کاربری</a> را تکمیل کنید تا کاربران بتوانند شما را براحتی پیدا کنند!</span>

            </div>
        </div>
    </div>
</div>
<div class="fixed-sidebar fixed-sidebar-responsive">

    <div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
        <a href="/" class="logo js-sidebar-open">
            <img src="nui/img/logo.png" alt="اکسبورد">
        </a>

    </div>

    <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
        <a href="/" class="logo">
            <div class="img-wrap">
                <img src="nui/img/logo.png" alt="اکسبورد">
            </div>
            <div class="title-block">
                <h6 class="logo-title">اکسبورد</h6>
            </div>
        </a>

        <div class="mCustomScrollbar" data-mcs-theme="dark">
            <ul class="left-menu">
                <li>
                    <a href="#" class="js-sidebar-open">
                        <svg class="olymp-close-icon left-menu-icon">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                        </svg>
                        <span class="left-menu-title">بستن منو</span>
                    </a>
                </li>
                <li th:if="${username == 'anonymousUser' or  username ==null }">
                    <a href="/signup">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="ثبت نام">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-register-icon"></use>
                        </svg>
                        <span class="left-menu-title">ثبت نام</span>
                    </a>
                </li>
                <li th:if="${username == 'anonymousUser' or  username ==null }">
                    <a href="/login">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="ورود">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-login-icon"></use>
                        </svg>
                        <span class="left-menu-title">ورود</span>
                    </a>
                </li>
                <li th:if="${username != 'anonymousUser' and  username !=null }">
                    <a href="/logout">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="خروج">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-login-icon"></use>
                        </svg>
                        <span class="left-menu-title">خروج</span>
                    </a>
                </li>
                <li th:if="${username != 'anonymousUser' and  username !=null }">
                    <a href="/setting">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="تنطیمات">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-settings-icon"></use>
                        </svg>
                        <span class="left-menu-title">تنظیمات</span>
                    </a>
                </li>
                <li>
                    <a href="/share">
                        <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                             data-original-title="اشتراک تجربه">
                            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-share-post-icon"></use>
                        </svg>
                        <span class="left-menu-title">اشتراک تجربه</span>
                    </a>
                </li>
                <li>
                    <form th:action="@{/}" method="get">
                        <div class="form-group with-button">
                            <input name="q" class="form-control" placeholder="عبارت یا جمله را وارد کنید...."
                                   type="text">
                            <button type="submit">
                                <svg class="olymp-happy-face-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                                </svg>
                            </button>
                        </div>
                    </form>
                </li>
            </ul>

            <div th:if="${username != 'anonymousUser' and  username !=null }" class="profile-completion">

                <div class="skills-item">
                    <div class="skills-item-info">
                        <span class="skills-item-title">تکمیل مشخصات کاربری</span>
                        <span class="skills-item-count"><span class="count-animate" data-speed="1000"
                                                              data-refresh-interval="50" data-to="76"
                                                              data-from="0"></span><span class="units">76%</span></span>
                    </div>
                    <div class="skills-item-meter">
                        <span class="skills-item-meter-active bg-primary" style="width: 76%"></span>
                    </div>
                </div>

                <span>اطلاعات <a
                        href="/setting">حساب کاربری</a> را تکمیل کنید تا کاربران بتوانند شما را براحتی پیدا کنند!</span>

            </div>
        </div>
    </div>
</div>


<div class="fixed-sidebar right fixed-sidebar-responsive">
    <div class="fixed-sidebar-right sidebar--small" id="sidebar-right-responsive">
        <a href="/share" class="olympus-chat inline-items">
            <svg class="olymp-chat---messages-icon">
                <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
            </svg>
        </a>
    </div>
</div>


<header class="header" id="site-header">

    <div class="page-title">
        <h6> دنبال چی هستی؟</h6>
    </div>

    <div class="header-content-wrapper">
        <form class="search-bar w-search" th:action="@{/}" method="get">
            <div class="form-group with-button">
                <input name="q" class="form-control" placeholder="عبارت یا جمله را وارد کنید...." type="text">
                <button type="submit">
                    <svg class="olymp-magnifying-glass-icon">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
                    </svg>
                </button>
            </div>
        </form>

    </div>
</header>


<header class="header header-responsive" id="site-header-responsive">

</header>

<!-- ... end Responsive Header-BP -->
<div class="header-spacer"></div>


<div class="container">
    <div class="row row-fluid">
        <div class=" col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-content">
                    <form name="sentExperience" class="search" id="sentExperienceForm" th:action="@{/v1/get}"
                          method="post"
                          enctype="multipart/form-data"
                          novalidate>
                        <div class="control-group">
                            <div class="form-group  col-xs-12 controls">
                                <input type="text" class="form-control"
                                       placeholder=" عنوان تجربه"
                                       name="subject"
                                       id="subject">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group  col-xs-12 controls">
                        <textarea class="form-control span6"
                                  name="body"
                                  placeholder="در مورد تجربه خود توضیحاتی رو بنویسید"
                                  id="body" rows="5" required></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="col-xs-12">
                                <label>حداکثر اندازه قابل قبول برای تصویر 25 مگابایت و ویدیو 150 مگابایت</label>
                                <div class="form-group text-right">
                                    <input class="form-control" type="file" name="video" id="file_upload_id"
                                           style="display:none">
                                    <a href="#"><i id="icon_upload" class="fa fa-3x fa-camera"
                                                   onclick="_uploadVideo()"></i></a>

                                    <input class="form-control" type="file" name="image" id="image_upload_id"
                                           style="display:none">
                                    <a href="#"><i id="icon_image" class="fa fa-3x fa-image"
                                                   onclick="_uploadImage()"></i></a>
                                </div>

                            </div>
                            <p id="imageName"></p>
                            <p id="videName"></p>
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg"> به اشتراک بگذارید</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>


<a class="back-to-top" href="#">
    <img src="nui/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>


<!-- JS Scripts -->
<script src="nui/js/jquery-3.2.1.js"></script>
<script src="nui/js/jquery.appear.js"></script>
<script src="nui/js/jquery.mousewheel.js"></script>
<script src="nui/js/perfect-scrollbar.js"></script>
<script src="nui/js/jquery.matchHeight.js"></script>
<script src="nui/js/svgxuse.js"></script>
<script src="nui/js/imagesloaded.pkgd.js"></script>
<script src="nui/js/Headroom.js"></script>
<script src="nui/js/velocity.js"></script>
<script src="nui/js/ScrollMagic.js"></script>
<script src="nui/js/jquery.waypoints.js"></script>
<script src="nui/js/jquery.countTo.js"></script>
<script src="nui/js/popper.min.js"></script>
<script src="nui/js/material.min.js"></script>
<script src="nui/js/bootstrap-select.js"></script>
<script src="nui/js/smooth-scroll.js"></script>
<script src="nui/js/selectize.js"></script>
<script src="nui/js/swiper.jquery.js"></script>
<script src="nui/js/moment.js"></script>
<script src="nui/js/daterangepicker.js"></script>
<script src="nui/js/simplecalendar.js"></script>
<script src="nui/js/fullcalendar.js"></script>
<script src="nui/js/isotope.pkgd.js"></script>
<script src="nui/js/ajax-pagination.js"></script>
<script src="nui/js/Chart.js"></script>
<script src="nui/js/chartjs-plugin-deferred.js"></script>
<script src="nui/js/circle-progress.js"></script>
<script src="nui/js/loader.js"></script>
<script src="nui/js/run-chart.js"></script>
<script src="nui/js/jquery.magnific-popup.js"></script>
<script src="nui/js/jquery.gifplayer.js"></script>
<script src="nui/js/mediaelement-و-player.js"></script>
<script src="nui/js/mediaelement-playlist-plugin.min.js"></script>
<script src="nui/js/ha-solardate.min.js"></script>
<script src="nui/js/ha-datetimepicker.min.js"></script>
<!--<script src="nui/js/exbord-utils.js"></script>-->
<script src="nui/js/base-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>
<script src="nui/Bootstrap/dist/js/bootstrap.bundle.js"></script>
<script>
    function _uploadVideo(){
document.getElementById('file_upload_id').click();
}
function _uploadImage(){
document.getElementById('image_upload_id').click();
}
$('#file_upload_id').change(function() {
    var file = $('#file_upload_id')[0].files[0].name;
    document.getElementById("videName").innerHTML =file;
});
$('#image_upload_id').change(function() {
    var file = $('#image_upload_id')[0].files[0].name;
    document.getElementById("imageName").innerHTML =file;
});



</script>


</body>

</html>