<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>

  <title>باتساپ</title>

  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="nui/Bootstrap/dist/css/bootstrap-reboot.css">
  <link rel="stylesheet" type="text/css" href="nui/Bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="nui/Bootstrap/dist/css/bootstrap-grid.css">

  <!-- Main Styles CSS -->
  <link rel="stylesheet" type="text/css" href="nui/css/main.min.css">


  <!-- Main Font -->
  <script src="nui/js/webfontloader.min.js"></script>
  <script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});

























    </script>

</head>

<body class="body-bg-white">

<!-- Stunning header -->

<div class="stunning-header bg-primary-opacity">


  <!-- Header Standard Landing  -->

  <div class="header--standard header--standard-landing" id="header--standard">
    <div class="container">
      <div class="header--standard-wrap">

        <a href="/" class="logo">
          <div class="img-wrap">
            <img src="nui/img/logo.png" alt="Olympus">
            <img src="nui/img/logo-colored-small.png" alt="Olympus" class="logo-colored">
          </div>
          <div class="title-block">
            <h6 class="logo-title">باتساپ</h6>
            <div class="sub-title">مدیریت و نظارت بر فعالیت‌های کودک</div>
          </div>
        </a>

        <a href="#" class="open-responsive-menu js-open-responsive-menu">
          <svg class="olymp-menu-icon">
            <use xlink:href="nui/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <!-- ... end Header Standard Landing  -->
  <div class="header-spacer--standard"></div>

  <div class="stunning-header-content">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3 style="color:white;">ثبت نام با موفقیت انجام شد.</h3>
    <br>
    <br>

    <ul class="breadcrumbs">
      <li class="breadcrumbs-item">
        <a href="/login" class="btn btn-md btn-border c-white">ورود به حساب کاربری</a>
      </li>
    </ul>
  </div>

  <div class="content-bg-wrap stunning-header-bg1"></div>
</div>


<div class="footer footer-full-width" id="footer">
  <div class="container">
    <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="sub-footer-copyright" style="color: #171414">
						<span>
							<a href="/" style="color: #171414;">باتساپ |</a> تمام حقوق مادی و معنوی محفوظ است
						</span>
      </div>
    </div>
  </div>
</div>


<a class="back-to-top" href="#">
  <img src="nui/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>


<!-- JS Scripts -->
<script src="nui/js/jquery-3.2.1.js"></script>
<script src="nui/js/jquery.appear.js"></script>
<script src="nui/js/jquery.mousewheel.js"></script>
<script src="nui/js/perfect-scrollbar.js"></script>
<script src="nui/js/jquery.matchHeight.js"></script>
<script src="nui/js/svgxuse.js"></script>
<script src="nui/js/imagesloaded.pkgd.js"></script>
<script src="nui/js/Headroom.js"></script>
<script src="nui/js/velocity.js"></script>
<script src="nui/js/ScrollMagic.js"></script>
<script src="nui/js/jquery.waypoints.js"></script>
<script src="nui/js/jquery.countTo.js"></script>
<script src="nui/js/popper.min.js"></script>
<script src="nui/js/material.min.js"></script>
<script src="nui/js/bootstrap-select.js"></script>
<script src="nui/js/smooth-scroll.js"></script>
<script src="nui/js/selectize.js"></script>
<script src="nui/js/swiper.jquery.js"></script>
<script src="nui/js/moment.js"></script>
<script src="nui/js/daterangepicker.js"></script>
<script src="nui/js/simplecalendar.js"></script>
<script src="nui/js/fullcalendar.js"></script>
<script src="nui/js/isotope.pkgd.js"></script>
<script src="nui/js/ajax-pagination.js"></script>
<script src="nui/js/Chart.js"></script>
<script src="nui/js/chartjs-plugin-deferred.js"></script>
<script src="nui/js/circle-progress.js"></script>
<script src="nui/js/loader.js"></script>
<script src="nui/js/run-chart.js"></script>
<script src="nui/js/jquery.magnific-popup.js"></script>
<script src="nui/js/jquery.gifplayer.js"></script>
<script src="nui/js/mediaelement-and-player.js"></script>
<script src="nui/js/mediaelement-playlist-plugin.min.js"></script>
<script src="nui/js/ha-solardate.min.js"></script>
<script src="nui/js/ha-datetimepicker.min.js"></script>

<script src="nui/js/base-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>


</html>